@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


body{
  margin: 0;
  background: url('//website/college_wesite/pictures/Educators-Who-Care-Image\ new.jpg');
  color: #ffff;
  font-family: "Montserrat", sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    padding: 0 10px;

  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
    display: flex;
    margin-bottom: 1em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: grey;
  
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .main-upper{
    /* background-color: green; */
    /* background: url('/website/college_wesite/pictures/3.jpg');
    background-position: center;
    background-size: cover; */
    margin: 0;
    padding: 0;
  
    position: relative;
    background-color: black;
    
  }
  .over1{
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  .banner{
    position: absolute;
    z-index: 1;
    top: 0%;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    height: 100%;
  }
  .main-upper{
    
    text-align: center;
   
}
.main-upper h1{
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    padding-top: 2em;
    padding-bottom: 2em;
}
.header2{
  color: #ffffff;
  text-align: center;
  padding: 0 15em;
  padding-bottom: 2em;
}

.main-upper h3{
    text-align: center;
    font-size: 1em;
   
}

.pic-list{
    display: flex;
    align-content: space-between;
    opacity: 1;
}
.pic-list li{
  list-style-type: none;
  padding: 3em;
  width: 50%;
 }
 .pic-list{
  padding: 0;
 }
 .heading1{
   color: #ffff;
   font-size: 16px;
   font-weight: 700;
 }
 .computing{
   background-color: #ffff;
   padding: 1em;
   position: relative;
 }
 .computing h1{
   text-align: center;
   font-size: 30px;
   font-weight: 900;
   color:#001f18;
   padding-bottom: 2em;
 }
.column{
  width: 50%;
}
.card{
  height: 400px;
  font-size: 14px;
}
.card p{
  font-weight: bold;
  color: rgb(32, 31, 31);
}